<!-- Author: Nachiket Galande -->
<!-- Date: 17/03/2024 -->
<!-- Copyright [Year] [Your Name] -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapStory</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand fw-bold" href="{{ url_for('home') }}">SnapStory</a>

            <div class="mr-auto">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <form class="form-inline my-2 my-lg-0" action="{{ url_for('search_users') }}" method="GET">
                            <div class="container h-100">
                                <div class="d-flex justify-content-center h-100">
                                    <div class="searchbar">
                                        <input class="search_input" type="text" name="user_search_query"
                                            placeholder="Search Users">
                                        <a href="#" class="search_icon" type="submit"><i class="bi bi-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <a class="nav-link align-items-center" href="{{url_for('home')}}"><i
                                class="bi bi-house-fill"></i></a>
                        {% if current_user.is_authenticated %}
                        <a class="nav-link align-items-center" href="{{url_for('post.add_post')}}"><i
                                class="bi bi-plus-square-fill"></i></a>

                        <a class="nav-link align-items-center" href="{{ url_for('notifications') }}">
                            <i class="bi bi-bell-fill"></i>
                            {% if notification_count > 0 %}
                            <span class="position-relative">
                                <span class="badge bg-danger notification-badge">{{ notification_count }}</span>
                            </span>
                            {% endif %}
                        </a>

                        <a class="nav-link align-items-center" href="{{url_for('account')}}">
                            {% if current_user.profile_image %}
                            <img src="../{{current_user.profile_image}}" style="border-radius: 20px;" width="40px"
                                height="40px" alt="">
                            {% else %}
                            <img src="../static/images/avatar.jpg" style="border-radius: 20px;" width="40px"
                                height="40px" alt="">
                            {% endif %}
                        </a>
                        <a class="nav-link align-items-center" style="font-size: 16px;"
                            href="{{url_for('user.logout')}}">Logout</a>
                        {% else %}
                        <a class="nav-link align-items-center" style="font-size: 16px;"
                            href="{{url_for('user.login')}}">Login</a>
                        <a class="nav-link align-items-center" style="font-size: 16px;"
                            href="{{url_for('user.signup')}}">Signup</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container content-container">
        {% block content %}

        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
    async></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>