{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4 mt-3">Notifications</h1>
<div class="list-group">
    {% for notification in notifications %}
    <div class="list-group-item list-group-item-action">
        <div class="row">
            <div class="col-auto">
                {% if notification.profile_image %}
                <img src="../{{ notification.profile_image }}" alt="Profile Image" class="rounded-circle"
                    style="width: 40px; height: 40px;">
                {% else %}
                <img src="../static/images/avatar.jpg" alt="Profile Image" class="rounded-circle"
                    style="width: 40px; height: 40px;">
                {% endif %}
            </div>
            <div class="col ps-0">
                <p class="mb-1 fw-bold">{{ notification.notification_message }}</p>
                <div class="d-flex w-100 justify-content-between">
                    <small>{{ notification.timestamp.strftime('%H:%M:%S %d-%m-%Y') }}</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if not notifications %}
<div class="alert alert-info mt-3" role="alert">
    You have no notifications.
</div>
{% endif %}
</div>
{% endblock %}